<div class="main">
  <div class="main-header-1">
    <div class="Course_menu">
      <a class="Course_menu-item" href="/courses/">Курсы</a>
      <a class="Course_menu-item" href="/courses/new/">Добавить курс</a>
      <a class="Course_menu-item" href="/courses/edit/">Редактировать/Удалить курс</a>
    </div>
    <a class="Course_menu-item" href="">Вернуться в меню</a>
  </div>
  <div id="1" class="main-body-1 card card-body">
    <div class="table-scroll-block overflow-auto">
      <table class="table-main table table-bordered table-condensed table-striped border-1 border-secondary table-hover caption-top">
        <caption id="caption">Курсы</caption>
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Название</th>
          <th scope="col">Описание</th>
          <th scope="col">Ограничение по возрасту</th>
          <th scope="col">Фотография</th>
          <th scope="col">Количество занятий</th>
          <th scope="col">Макс.Человек в группе</th>
        </tr>
        </thead>
        <tbody>
          <%@course.each do |course| %>
            <tr>
              <td><%=course.id%></td>
              <td><%=course.title%></td>
              <td><%=course.description%></td>
              <td><%=course.age%></td>
              <td><%=course.photo%></td>
              <td><%=course.sessions%></td>
              <td><%=course.people_in_group%></td>
            </tr>
          <%end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
