<div id="main_block">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="./">Star-Academy</a>
    <div class="logout" style="display: flex;flex-direction: row; margin-left: auto">
      <div class="back">
        <%=link_to 'Выйти из аккаунта', destroy_user_session_path, :method => :delete, class: "nav-link"%>
      </div>
      <div class="back">
        <%=link_to 'Вернуться на главную', root_path, class: "nav-link"%>
      </div>
    </div>
  </nav>
  <div class="user_info">
    <p style="font-size:24px">Профиль</p>
    <div class="Profile_info">
      <div class="first_name">
        <p>Имя: <%=@par[0].split(" ")[1]%></p>
      </div>
      <div class="last_name">
        <p>Фамилия: <%=@par[0].split(" ")[0] %></p>
      </div>
      <div class="phone_number">
        <p>Номер телефона: <%=@par[1] %></p>
      </div>
      <div class="email">
        <p>Email: <%=current_user.email %></p>
      </div>
    </div>
  </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <%@child_arr.each do |child|%>
        <li class="nav-item">
          <a class="nav-link" id="home-tab" data-toggle="tab" href="#tab-block-<%=child.id%>" role="tab" aria-controls="home" aria-selected="true"><%=child.fio.split(" ")[1] %></a>
        </li>
      <%end%>
    </ul>
    <div class="tab-body">
      <div id="info">

      </div>
      <%@child_arr.each do |child|%>
        <div id="tab-block-<%=child.id%>" class="tab_block">
          <div class="scroll_row">
            <div class="row wow fadeIn">
              <div class="card card-body course_visits-item col-md-1 col-lg-1 mt-2">
                <h4 class="course_name">Компьютерная графика</h4>
                <div class="table-scroll-block overflow-auto">
                  <table class="table table-bordered table-condensed table-striped border-1 border-secondary">
                    <thead>
                    <tr>
                      <th scope="col">01.02</th>
                      <th scope="col">02.02</th>
                      <th scope="col">03.02</th>
                      <th scope="col">04.02</th>
                      <th scope="col">05.02</th>
                      <th scope="col">06.02</th>
                      <th scope="col">07.02</th>
                      <th scope="col">08.02</th>
                      <th scope="col">09.02</th>
                      <th scope="col">10.02</th>
                      <th scope="col">11.02</th>
                      <th scope="col">12.02</th>
                      <th scope="col">13.02</th>
                      <th scope="col">14.02</th>
                      <th scope="col">15.02</th>
                      <th scope="col">16.02</th>
                      <th scope="col">17.02</th>
                      <th scope="col">18.02</th>
                      <th scope="col">19.02</th>
                      <th scope="col">20.02</th>
                      <th scope="col">21.02</th>
                      <th scope="col">22.02</th>
                      <th scope="col">23.02</th>
                      <th scope="col">24.02</th>
                      <th scope="col">25.02</th>
                      <th scope="col">26.02</th>
                      <th scope="col">27.02</th>
                      <th scope="col">28.02</th>
                      <th scope="col">29.02</th>
                      <th scope="col">30.02</th>
                      <th scope="col">31.02</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="button-block w-100">
                  <button class="btn btn-success btn-sm float-end" type="button">Последние оплаты</button>
                </div>
              </div>
              <div class="card card-body course_visits-item col-md-1 col-lg-1 mt-2">
                <h4 class="course_name">Графический дизаин</h4>
                <div class="table-scroll-block overflow-auto">
                  <table class="table table-bordered table-condensed table-striped border-1 border-secondary">
                    <thead>
                    <tr>
                      <th scope="col">01.02</th>
                      <th scope="col">02.02</th>
                      <th scope="col">03.02</th>
                      <th scope="col">04.02</th>
                      <th scope="col">05.02</th>
                      <th scope="col">06.02</th>
                      <th scope="col">07.02</th>
                      <th scope="col">08.02</th>
                      <th scope="col">09.02</th>
                      <th scope="col">10.02</th>
                      <th scope="col">11.02</th>
                      <th scope="col">12.02</th>
                      <th scope="col">13.02</th>
                      <th scope="col">14.02</th>
                      <th scope="col">15.02</th>
                      <th scope="col">16.02</th>
                      <th scope="col">17.02</th>
                      <th scope="col">18.02</th>
                      <th scope="col">19.02</th>
                      <th scope="col">20.02</th>
                      <th scope="col">21.02</th>
                      <th scope="col">22.02</th>
                      <th scope="col">23.02</th>
                      <th scope="col">24.02</th>
                      <th scope="col">25.02</th>
                      <th scope="col">26.02</th>
                      <th scope="col">27.02</th>
                      <th scope="col">28.02</th>
                      <th scope="col">29.02</th>
                      <th scope="col">30.02</th>
                      <th scope="col">31.02</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="button-block w-100">
                  <button class="btn btn-success btn-sm float-end" type="button">Последние оплаты</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      <%end %>
      <button class="portfolio btn btn-success btn-sm float-start" type="button">Посмотреть портфолио</button>
    </div>
</div>